*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.text-primary{
  color: #FD6E0A;
}

.btn-primary{
  color: aliceblue;
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  background: #FD6E0A ;
  border: 0;
  padding: 18px 35px;
}

.header{
  background:#FFF8F3 ;
  background-image: url(images/header_bg.png),url(/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
 nav li{
  list-style: none;
  margin-left: 50px;
  align-items: center;
 }
.text-primary{
  color: #FD6E0A;
}

.banner{
  margin: 0 200px;
  display: flex;
  align-items: center;

}

.banner-tittle{
font-weight: 700;
font-size: 85px;
}

.banner-sub-tittle{
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 20px;

}

.banner-des{
color: #757575;
font-weight: 400;
font-size: 18px;
margin-bottom: 30px;
}

/* About me */

main{
  max-width: 1140px;
  margin: 0 auto;
}

.about{
  margin-top: 130px;
  background-color: #FFF8F3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;

}
.section-tittle{
  
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;

}
.section-des{
 color: #757575;
 font-size: 18px;
 margin-bottom: 30px;
}

.about-info-container{
  display: flex;
  justify-content: space-around;
}


.about .info-title{
  font-size: 20px;
  color: #757575;
}

.info-description{
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

.what{

  margin-top: 130px;

}

.what-title{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 35px;
}

.descri{

  text-align: center;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  padding: 130px 150px;
  color: #757575;

}

.skills-container{
  display: flex;
  gap: 24px;
}

.skill{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title{
  font-weight: 700; 
  font-size: 20px;
  margin-top: 30px;
margin-bottom: 20PX;
}


.skill-des{
  color: #757575;
}

.resume{
  margin-top: 120px;
  margin-bottom: 80px;
}


.resume-section-title{
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 80px;
  text-align: center;
  margin-top: 30px;
}

.resume-content{
  display: flex;
  gap: 24px;
}

.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .title{
font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px; 
}

.resume .sub-title{
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;


}

.resume .description{
  color: #757575;
}


.resume-button{
  text-align: center;
  margin-top: 80px;
}


.contact{
  display: flex;
  gap: 100px;
  background-color: #FFF8F3;
  padding: 130px 200px;
}
.contact .section-title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}
.contact .descrii{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
}
.contact input[type="text"], input[type="email"] , textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

input{
  height: 64px;
}

.contact a{
  text-decoration: none;
}